<B>January 1, 2016</B>
<H3><I>Date/Time changes for the Spring semester</I></H3>
<br>
Spring semester will start on Monday, January 11<sup>th</sup>, 2016.
<br><br>
6th/7th Language Arts class has a new time on Mondays.  It starts at 5:30pm PST and ends at 6:15pm PST.
<br><br>

