<B>May 16 2016</B>
<H3><I>Team PIFFE Update</I></H3>

We are very excited to welcome Shruthi Venkatesan to PIFFE Family. She will be joining our Math team this fall. We are happy to have you on the team, Shruthi.
<br><br>
"In teaching, we learn and in learning we teach." The sheer joy of teaching and slipping into a teacher's shoes urges me be a part of PIFFE, interact with students, teach them, learn with them and learn from them. I am super excited to kick start my first online teaching experience.
<br><br>
To learn more about Shruthi, and the rest of PIFFE team members, please visit our <%= link_to "team", team_url %> page.
