<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading4rdGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse7thGradeMath" aria-expanded="true" aria-controls="collapse7thGradeMath">
        7<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse7thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Quynn Megan Le", team_path + '#quynn-le') %></H4></div>
      <div><H5>Day: Monday - Thursday</H5></div>
      <div><H5>Time: 6:30pm PST</H5></div>
      <div><h5>Download the <%= link_to("Assessment Test", "/downloads/2015summer/assessment_test_7th_grade.pdf", :target => "_blank") %> and <%= link_to("Student Agreement", "/downloads/student_agreement.pdf", :target => "_blank") %></h5></div>
      <table class="col-md-8 col-md-offset-2">
        <thead>
        <tr>
          <th id="scheduleWeek">Meeting</th>
          <th id="scheduleDate">Dates</th>
          <th id="scheduleTopic">Topic</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>6/15 - 6/18</td>
          <td>Number theory</td>
        </tr>
        <tr>
          <td>2</td>
          <td>6/22 - 6/25</td>
          <td>Ratios, proportions and percent</td>
        </tr>
        <tr>
          <td>3</td>
          <td>7/6 - 7/9</td>
          <td>Geometry and Pythagorean theorem</td>
        </tr>
        <tr>
          <td>4</td>
          <td>7/13 - 7/16</td>
          <td>Variable expressions</td>
        </tr>
        <tr>
          <td>5</td>
          <td>7/20 - 7/23</td>
          <td>Inequalities</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
