<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading4rdGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse4thGradeMath" aria-expanded="true" aria-controls="collapse4thGradeMath">
        4<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse4thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Butch Stephens", team_path + '#butch-stephens') %></H4></div>
      <div><H5>Day: Monday - Thursday</H5></div>
      <div><H5>Time: 6:00pm PST</H5></div>
      <div><h5>Download the <%= link_to("Assessment Test", "/downloads/2015summer/assessment_test_4th_grade.pdf", :target => "_blank") %> and <%= link_to("Student Agreement", "/downloads/student_agreement.pdf", :target => "_blank") %></h5></div>
      <table class="col-md-8 col-md-offset-2">
        <thead>
        <tr>
          <th id="scheduleWeek">Meeting</th>
          <th id="scheduleDate">Dates</th>
          <th id="scheduleTopic">Topic</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>6/8 - 6/11</td>
          <td>Multiplication by 2/3-digit numbers</td>
        </tr>
        <tr>
          <td>2</td>
          <td>6/15 - 6/18</td>
          <td>Division by 2/3-digit numbers</td>
        </tr>
        <tr>
          <td>3</td>
          <td>6/29 - 7/2</td>
          <td>Add and subtract fractions with like denominators</td>
        </tr>
        <tr>
          <td>4</td>
          <td>7/6 - 7/9</td>
          <td>Add and subtract fractions with unlike denominators</td>
        </tr>
        <tr>
          <td>5</td>
          <td>7/20 - 7/23</td>
          <td>Measurement - convert metric units</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
