<% provide(:title, "About") %>


<H1><i class="fa fa-info-circle"></i> About Us</H1>
<div id="about">

  <div class="title">
    Who We Are:
  </div>
  <div class="description">
    Pay It Forward For Education, Inc. is a nonprofit organization established on September, 2014 under the Internal
    Revenue Code (IRC) Section 501 (c) (3).
  </div>
  <div class="description">
    Through the use of modern technology, we are introducing online education to students from Elementary through High
    School. We offer Education Services, namely, providing online interactive tutoring services for students in the
    field of Mathematics, Language Arts and Computer Science.
  </div>
  <div class="title">
    Our Philosophy
  </div>
  <div class="description">Pay It Forward For Education (PIFFE) was created through the love and passion that our
    instructors have for education and technology. You can say that PIFFE has the best of both worlds!
  </div>
  <div class="description">Deeply grateful for the blessings in their own lives, PIFFE instructors want to pay it
    forward by donating their time and talents to inspire students to do their best. We strive to help students relate
    what they learn in class to actual applications in their own life. We empower our students to think outside the box,
    to articulate their thought process among their peers, and to have the courage to question, or even challenge what
    they are taught. In this way, our students are able to build confidence in their academic aptitudes and also their
    public speaking skills.
  </div>
  <div class="description">Most importantly, we wish to instill within our students a deep appreciation for knowledge
    and compassion. We hope our students in turn, will pay it forward by proliferating the sharing of knowledge among
    their own circle of connections. Just imagine the impact we can achieve when students reach out to share knowledge
    among their friends, and those friends in turn, reach out to help their own friends!
  </div>
  <div class="description">
    PIFFE team members believe in the power of knowledge sharing. Together, we can create a great ripple effect of
    compassionate individuals inspired to pay it forward to make this world a better place!
  </div>

  <div class="title">
    Cost
  </div>
  <div class="description">
    There is NO COST to attend the sessions.
  </div>
  <div class="title">
    Registration
  </div>
  <div class="description">
    Students need to sign up to attend sessions. Please see our <%= link_to "Schedule", schedule_path %> for more
    details.
  </div>
  <div class="title">
    What we offer
  </div>
  <div class="description">
    <ul>
      <li>FREE online interactive Math, Language Arts and Computer Science tutoring</li>
      <li>A program that is accessible for students everywhere - from home or on the road through desktop, mobile and
        tablet devices
      </li>
      <li>30 - 45 minutes per session</li>
      <li>Maximum of 5 students per class</li>
    </ul>
  </div>

</div>
