<% provide(:title, "Amazon") %>

<div id="amazon">
  <H2><%= image_tag("amazon/amazon_logo.png",  class:"logo-style", :size => "50") %> How Your Amazon Purchases Can Support PIFFE</H2>

  <%= render 'static_pages/amazon' %>

</div>

