<% provide(:title, "Code of Conduct") %>


<div id="coc-news-well" class="well news-well">
    <H2><i class="fa fa-university"></i> PIFFE Code of Conduct</H2>

    <div class="blank-line"></div>
    <div class="blank-line"></div>
    <div class="row", id="coc">

      <div class="col-md-10 col-md-offset-1 announcement-text">
        <ol>
          <li>During the sessions, students are expected to treat the instructor and their peers with RESPECT</li>
          <li>Each student is expected to log on and be ready for class on time</li>
          <li> Camera/webcam should NOT be on during the sessions</li>
          <li>All phone/computer speakers should be set to MUTE unless called on to participate by the instructor</li>
        </ol>
        </div>
      </div>
</div>





