<% provide(:title, "Donation") %>

<div id="volunteer">
<H2><i class="fa fa-group"></i> Get Involved</H2>
  <br>
  <div id="image-row">
    <div>
      <%= image_tag("misc/book-shelves.jpg", height: '96', width: '128') %>
    </div>
    <div>
      <%= image_tag("misc/math-blackboard.jpg", height: '96', width: '128') %>
    </div>
    <div>
      <%= image_tag("misc/notebook-and-pencil.jpg", height: '96', width: '128') %>
    </div>
  </div>

  You can help our organization better serve students across the nation by donating your Time, Talents or Financial Contributions.
  <br><br>

  <div class="title">
    Be a Volunteer
  </div>
  <div>
    We are seeking dedicated volunteers who are passionate about teaching with tutoring experience in the subjects of
    Math, Language Arts and Computer Science.  By donating an hour a week of your time as a tutor, you have the
    opportunity to engage our students, motivate them, and help them to improve and excel in their studies.
    <br><br>
    We are also looking for dedicated software developers to help build our web-based teaching platform.  As part of our
    software development team, you have the opportunity to develop core features of our teaching platform, one that will
    enable the organization to build the best teaching curriculum for our students.
    <br><br>
    Please contact us at <b>volunteering@payitforward4edu.com</b> for more information.
    <br><br>
  </div>

  <div class="title">
    Make a Donation
  </div>
  <div>
    Already have a busy schedule, but would still love to support our mission? Your financial contributions will allow
    us to continue offering the best tutoring services to our students.
    <br><br>
    You can make the donation through PayPal at <b>donation@payitforward4edu.com</b>.
    <br><br>
  </div>


  <div class="title">
    Shop at Amazon
  </div>
  <%= render 'static_pages/amazon' %>


  <br>
  <br>
</div>
