<% provide(:title, "FAQ") %>



<H1><i class="fa fa-lightbulb-o"></i> Frequently Asked Questions</H1>
<div id="faqs">
  <div class="question">How do I register?</div>
  <div class="answer">To register for sessions, please check on <%= link_to "schedule", schedule_path %> for more details</div>

  <div class="question">How do I attend sessions?</div>
  <div class="answer">
    All sessions are held live using Zoom <p></p>
    Please make sure Zoom is installed before class starts <p></p>
    <ul>
      <li>Go <%= link_to "here", ApplicationHelper::ZOOM_URL %> to install Zoom</li>
      <li>Enter meeting ID (meeting ID is provided once registered)</li>
      <li>(Optional) Join from dial-in phone line if you don't have speakers. Dial: +1(415)762-9988 or +1(646)568-7788</li>
      <li>Participant ID: Shown after joining the meeting</li>
      <li>Enter only first name</li>
      <li>Disable camera; otherwise, you will be disconnected from session</li>
    </ul>
  </div>

  <div class="question">What subjects are available?</div>
  <div class="answer">Mathematics, Language Arts and Computer Science</div>

  <div class="question">What grade level pertains to these sessions?</div>
  <div class="answer">Elementary through High School</div>

  <div class="question">What are expected from students in a session?</div>
  <div class="answer">We do expect the students to follow <%= link_to "PIFFE Code of Conduct", coc_path %></div>

  <div class="question">For additional questions, please <%= link_to "contact us", contact_path %>.</div>
  <div class="answer"></div>

</div>

