<% provide(:title, "Home") %>

<script type="text/javascript">
  window.location.href="https://www.piffe.org"  // put your correct path in a string here
</script>

<div id="home">
  <div class="blank-line"></div>

  <!-- 16:9 aspect ratio -->
  <div class="spand12 center">
    <iframe width="640" height="390" src="https://www.youtube.com/embed/bek6Q5gM07Q" allowfullscreen></iframe>

  </div>

  <div class="blank-line"></div>
    <div class="slogan text-center">
      <span class="slogan-1">For Future</span>
      <span class="slogan-2">- For Kids - </span>
      <span class="slogan-3">For Free</span>
    </div>

  <div class="blank-line"></div>
  <div class="blank-line"></div>

  <div id="home-announcement" class="media" >
    <div class="media-left">
      <%= link_to image_tag("piffe_logo.png", alt: "PIFFE logo", width: "250", class: "logo-style"), root_path %>
      <%= link_to image_tag("amazon/amazon_smile.png", width: "250", class: "logo-style"), amazon_path %>

    </div>
    <div class="media-body well">
      <div class="media-heading">
        Newsletters
      </div>
      <p></p>
      <div class="announcement-text">
        <%= render 'newsletters/newsletter' %>

      </div>
    </div>
  </div>

  <div class="blank-line"></div>
  <div class="blank-line"></div>
  <div id="important-note" class="alert alert-info">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 important-note-text">
        <strong>Important Note:</strong> We are <strong>NOT</strong> associated with the other Pay It Forward For Education (www.payitforward4edu.org)
        based in Chicago, Illinois regarding student loan debt.
      </div>
    </div>
  </div>
  <!--
  <div class="spand12 center">
    <div class="slogan text-center">
      <span class="slogan-1">Student Testimonials</span>
    </div>
    <iframe width="640" height="390" src="https://www.youtube.com/embed/qFw5U1fmIPE" allowfullscreen></iframe>

  </div>
  -->
  <div class="blank-line"></div>

</div>

