<% provide(:title, "Schedule") %>


<div id="schedule-news-well" class="well news-well">
  <H2><i class="fa fa-calendar"></i> Fall 2015 schedule </H2>
  Registration is now open for the Fall 2015 semester. Our sessions are setup in a review format, designed to help
  students sharpen their existing skills and knowledge.

  <div class="blank-line"></div>
  <div><b>Language Arts:</b> Registration will remain open until September 8th, 2015. We highly recommend that you
    register at your earliest convenience as we limit class size to 10 students per class.
  </div>

  <div class="blank-line"></div>
  <div><b>Math:</b> Registration will remain open throughout the semester until we reach the maximum of 10 students
    for any given class. Topics are grouped by grade level. However, students are free to attend sessions of their
    interest to review material they’ve already learned.
  </div>

  <div class="blank-line"></div>
  <div><b>Student Agreement:</b> All registered students must submit the Student Agreement by September 10th in order
    to receive a login id to attend the tutoring sessions. Click here to download
    the <%= link_to("Student Agreement", "/downloads/student_agreement.pdf", :target => "_blank") %>.
  </div>

</div>

<div id="schedule-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#math" role="tab" data-toggle="tab">
        <icon class="fa fa-calculator"></icon>
        Mathematics
      </a>
    </li>
    <li>
      <a href="#language" role="tab" data-toggle="tab">
        <i class="fa fa-book "></i> Language Arts
      </a>
    </li>
  </ul>
</div>

<!-- Tab panes -->
<div id="schedule-tab-content" class="tab-content">

  <div role="tabpanel" class="tab-pane fade active in" id="math">

    <%= render 'classes/2015/fall/math/grade_3' %>
    <%= render 'classes/2015/fall/math/grade_4' %>
    <%= render 'classes/2015/fall/math/grade_5' %>
    <%= render 'classes/2015/fall/math/grade_6' %>
    <%= render 'classes/2015/fall/math/grade_7' %>
    <%= render 'classes/2015/fall/math/grade_8' %>
    <%= render 'classes/2015/fall/math/alg_1' %>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="language">
    <%= render 'classes/2015/fall/lang/grade_3' %>
    <%= render 'classes/2015/fall/lang/grade_4' %>
    <%= render 'classes/2015/fall/lang/grade_6' %>
    <%= render 'classes/2015/fall/lang/grade_8' %>
  </div>

</div>

