<% provide(:title, "Schedule") %>

<div id="schedule-news-well" class="well news-well">
  <H2><i class="fa fa-calendar"></i> 2016-2017 schedule </H2>
  Registration is open for the 2016-2017 school year on 8/22. Our sessions are setup in a review format, designed to help
  students sharpen their existing skills and knowledge.

  <div class="blank-line"></div>
  <div><b>Math:</b> Registration will remain open throughout the school year until we reach the maximum of 5 students
    for any given class. Topics are grouped by grade level. However, students are free to attend sessions of their
    interest to review material they’ve already learned.
  </div>

  <div class="blank-line"></div>
  <div><strong>Registration:</strong> Send an email to administrator@payitforwardforedu.com with the attachment of the completed student agreement form below.
  </div>

  <div class="blank-line"></div>
  <div><b>Student Agreement:</b>Students must submit the Student Agreement by September 11th in order
    to receive a login id to attend the tutoring sessions. Click here to download
    the <%= link_to("Student Agreement", "/downloads/student_agreement.pdf", :target => "_blank") %>.
  </div>

  <div class="blank-line"></div>
  <div><b>Important date(s):</b></div>
  Classes start on the week of 9/12
  <br>
</div>


<div id="schedule-tab">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#math" role="tab" data-toggle="tab">
        <icon class="fa fa-calculator"></icon>
        Mathematics
      </a>
    </li>
    <!-- li>
      <a href="#language" role="tab" data-toggle="tab">
        <i class="fa fa-book "></i> Language Arts
      </a>
    </li -->
  </ul>
</div>

<!-- Tab panes -->
<div id="schedule-tab-content" class="tab-content">

  <div role="tabpanel" class="tab-pane fade active in" id="math">

    <%= render 'classes/2016/fall/math/grade_4' %>
    <%= render 'classes/2016/fall/math/grade_5' %>
    <%= render 'classes/2016/fall/math/grade_6' %>
    <%= render 'classes/2016/fall/math/grade_7' %>
    <%= render 'classes/2016/fall/math/grade_8' %>
    <%= render 'classes/2016/fall/math/grade_9' %>
    <%= render 'classes/2016/fall/math/grade_10' %>
    <%= render 'classes/2016/fall/math/grade_11' %>
    <%= render 'classes/2016/fall/math/grade_12' %>
  </div>

</div>

