<% provide(:title, "Meet our team") %>

<div class="well news-well">
  <H2><i class="fa fa-users"></i> Meet Our Team</H2>
  Our instructors are volunteers who want to help students everywhere to improve and excel in the subjects of Mathematics and Language Arts.
</div>

<%= render 'static_pages/instructors/alyssa_nguyen' %>
<%= render 'static_pages/instructors/daniella_romero' %>
<%= render 'static_pages/instructors/megan_pham' %>
<%= render 'static_pages/instructors/otto_leung' %>
<%= render 'static_pages/instructors/quynn_le' %>
<%= render 'static_pages/instructors/scott_daniel' %>
<%= render 'static_pages/instructors/regina_schekall' %>
<%= render 'static_pages/instructors/shakir_saud' %>
<%= render 'static_pages/instructors/shruthi_venkatesan' %>
<%= render 'static_pages/instructors/thinh_to' %>

<br><br>