<B>February 3, 2016</B>
<H3><I>How your Amazon Purchases Can Support PIFFE</I></H3>
<br>
PIFFE is now registered to <%= link_to "smile.amazon.com", ApplicationHelper::PIFFE_SMILE_AMAZON_URL %>. Amazon donates 0.5% of the price of your eligible AmazonSmile purchases to Pay It Forward For Education (Youth Development - Houston).
If you shop on Amazon, please remember to pick PIFFE as the organization of your choice. We appreciate your support.<br><br>
Click <%= link_to "here", amazon_path %> for more details.
<br><br>
