<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="headingAlg1">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapseAlg1" aria-expanded="true" aria-controls="collapseAlg1">
        Algebra I <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapseAlg1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAlg1">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Quynn Le", team_path + '#quynn-le') %></H4></div>
      <div><H5>Day: Monday</H5></div>
      <div><H5 class="alg1-local-start-time">Time</H5></div>
      <div><H5 class="alg1-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.alg1-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.alg1-local-end-time').text("End Time: " + utcToLocal('01:00z'));
      })
  </script>

</div>
