<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="headingAlg1Advanced">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapseAlg1Advanced" aria-expanded="true" aria-controls="collapseAlg1Advanced">
        Algebra I Advanced <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapseAlg1Advanced" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAlg1Advanced">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Shakir Saud", team_path + '#shakir-saud') %></H4></div>
      <div><H5>Pre-requisites: Algebra 1</H5></div>
      <div><H5>Day: Wednesday</H5></div>
      <div><H5 class="alg1_advanced-local-start-time">Time</H5></div>
      <div><H5 class="alg1_advanced-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.alg1_advanced-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.alg1_advanced-local-end-time').text("End Time: " + utcToLocal('01:00z'));
      })
  </script>

</div>
