<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading6thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse6thGradeMath" aria-expanded="true" aria-controls="collapse6thGradeMath">
        6<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse6thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Thinh To", team_path + '#thinh-to') %></H4></div>
      <div><H5>Day: Tuesday</H5></div>
      <div><H5 class="g6m-local-start-time">Time</H5></div>
      <div><H5 class="g6m-local-end-time">Time</H5></div>

    </div>
  </div>

  <script>
      $(function(){
          $('.g6m-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.g6m-local-end-time').text("End time: " + utcToLocal('01:00z'));
      })
  </script>
</div>
