<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading8thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse8thGradeMath" aria-expanded="true" aria-controls="collapse8thGradeMath">
        8<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse8thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Scott Daniel", team_path + '#scott-daniel') %></H4></div>
      <div><H5>Day: Monday</H5></div>
      <div><H5 class="g8m-local-start-time">Time</H5></div>
      <div><H5 class="g8m-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.g8m-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.g8m-local-end-time').text("End time: " + utcToLocal('01:00z'));
      })
  </script>

</div>
