<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading4thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse7thGradeMath" aria-expanded="true" aria-controls="collapse7thGradeMath">
        7<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse7thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Kiet Phan", team_path + '#kiet-phan') %></H4></div>
      <div><H5>Day: Thursday</H5></div>
      <div><H5 class="g7ms2-local-start-time">Time</H5></div>
      <div><H5 class="g7ms2-local-end-time">Time</H5></div>
    </div>
  </div>

  <script>
      $(function(){
          $('.g7ms2-local-start-time').text("Start time: " + utcToLocal('01:00z'));
          $('.g7ms2-local-end-time').text("End time: " + utcToLocal('01:30z'));
      })


  </script>
</div>
