<B>June 15 2015</B>
<H3><I>Shout-out to Zoom</I></H3>

We want to give a shout-out to Ms.Kerry M. from <%= link_to "Zoom", ApplicationHelper::ZOOM_URL %> for reaching out to us today to offer generous discount on our recent license purchase for the summer sessions.
Zoom is a Web and Conference Service that PIFFE has been using to hold our live tutoring sessions.  The technology is great as it serves our needs with good sound and connection quality.
Thank you Ms. Kerry and Zoom team for supporting our effort.