<B>June 24 2015</B>
<H3><I>Team PIFFE Update</I></H3>

We are thrilled to welcome a new colleague, Daniella to Team PIFFE.  She holds a Bachelor Degree in Political Science and International Relations with minors in French, Spanish and PR Journalism. She also holds a Masters Degree in International Affairs.  She enjoys traveling and learning about other cultures. She has been teaching English as a Second Language and tutoring students of various levels and ages for several years now.
<br></br>
We are very excited that Daniella will be joining our instructors to teach in the fall semester.