<B>December 3, 2016</B>
<H3><I>Important Dates</I></H3>
<br>
No classes between Dec 19<sup>th</sup> 2016 and January 6<sup>th</sup> 2017.
<br>
<br>
Classes will resume on January 9<sup>th</sup> 2017.
<br><br>
