<B>August 08, 2016</B>
<H3><I>PIFFE 2016 Workshop</I></H3>

PIFFE team members met in Palo Alto, CA. for an all-day workshop to go over all the logistics for this coming school year.
We are super excited to announce that we will be offering math sessions from 4th to 12th grade this fall. Registration will start on Monday, August 22nd. We all look forward to meeting and working with our students.
<div class="blank-line"></div>
<%= link_to "#{image_tag("2016_workshop/workshop.jpg", width: '600', height: '400')}".html_safe, image_path("2016_workshop/workshop.jpg") %>
<div class="blank-line"></div>