<B>August 01, 2016</B>
<H3><I>2016-2017 school year registration</I></H3>

Dear Students,
<br><br>
We hope you are having a fabulous summer vacation. PIFFE team members are looking forward to meeting
you in the upcoming school year. Here is the tentative schedule:
<br><br>
Registration will begin on Monday, August 22nd.
<br>
Classes will start on Monday, September 12th
<br><br>
We will be hosting a couple of Webinar sessions to go over the classes that we will offer. So, look out for our announcements in early August.
<br><br>
