<B>August 18, 2016</B>
<H3><I>2016-2017 Registration</I></H3>

Dear Parents and Students,
<div class="blank-line"></div>
We hope you had a fantastic summer and that you're all ready to start a new school year.
PIFFE team members have been working hard to get ready for this school year. <%= link_to("Schedule", schedule_path) %> is posted.
If you have any question, you can reach out to us via
<%= link_to("Facebook", "https://www.facebook.com/payitforward4edu") %> or
email us at <%= mail_to "administrator@payitforward4edu.com" do %>administrator@payitforward4edu.com<% end %>.
<div class="blank-line"></div>
<strong>Registration will start on Monday, August 22<sup>nd</sup>, and classes start on the week of September 12<sup>th</sup></strong>.
<div class="blank-line"></div>
Please help us spread the words and get to students who could really use our service.

