<%
   #change here year_mnth here
   year_month = "2017/07/"
   files = Dir.glob("app/views/newsletters/" + year_month + "_newsletter_*")
   files = files.map { |file| [file.count("/"), file] }
   files = files.sort.map { |file| file[1] }.reverse
   files.each do |file|
     filename = file.to_s.match(/_(.*)?.html.erb/)
%>
     <%= render 'newsletters/' + year_month + filename[1] %>
     <br><br>
<%
   end
%>



