<B>July 21 2015</B>
<H3><I>Team PIFFE Update</I></H3>

We are very excited to welcome a new colleague, Alyssa-Uyen Nguyen to team PIFFE. She will be joining our instructors to teach in the fall semester.
She is currently a Sophomore at the University of Houston majoring in Biotech and minoring in medicine and society. Some of her passions include photography, writing, painting, eating, and the occasional Netflix.
<br><br>
To learn more about Alyssa and the rest of PIFFE team members, please visit our <%= link_to "team", "http://www.piffe.org/team" %> page.