<B>July 21 2015</B>
<H3><I>Team PIFFE Update</I></H3>

We are very excited to welcome a new colleague, Scott Daniel to team PIFFE. He will be joining our instructors to teach in the fall semester.
Scott is a California native, and earned a Master’s Degree in Computer Science from Brown University. Now a Bay Area resident, he works at Adobe building software for photographers. Outside of work, he likes to ride bikes, dance salsa, and play guitar.
<br><br>
To learn more about Scott and the rest of PIFFE team members, please visit our <%= link_to "team", team_url %> page.