<B>August 12 2015</B>
<H3><I><i class="fa fa-trophy"></i> Writing Contest Winner</I></H3>

<div class="blank-line"></div>
We are super excited to announce the winner of our writing contest this summer, <B>Ethan</B>! You can read Ethan’s
essay <%= link_to "here", "https://drive.google.com/file/d/0B8konXaEK_ZgUHVqdzNTcFI1aUdDTkhGWXRManJwRzBSNnhJ/view?usp=sharing" %>.
Congratulations!
<div class="blank-line"></div>
<%= image_tag("students/ethan_nv.jpg") %>
Ethan, Nevada

