<B>August 16 2015</B>
<H3><I>PIFFE 1st Year Anniversary Celebration!</I></H3>

<div class="blank-line"></div>
We want to thank everyone for attending PIFFE 1st anniversary celebration yesterday. Special thanks to
those who traveled such great distance to join us. It was a fantastic celebration!
<div class="blank-line"></div>
We deeply appreciate your support and generous donations. We couldn't be more thrilled to have
recruited enthusiastic volunteers at the event. Not only that, our new volunteers also recruited
volunteers who didn't know about us prior to yesterday. We look forward to celebrate many more
anniversaries with you!
<div class="blank-line"></div>
<%= link_to "#{image_tag("2015_anniversary/Guests_02.jpg", width: '320', height: '200')}".html_safe, image_path("2015_anniversary/Guests_02.jpg") %>

<div class="blank-line"></div>
We had a full house!
<div class="blank-line"></div>
<div class="blank-line"></div>

<%= link_to "#{image_tag("2015_anniversary/team-piffe_01.jpg", width: '320', height: '200')}".html_safe, image_path("2015_anniversary/team-piffe_01.jpg") %>
<div class="blank-line"></div>
Thank you BioSensor Equipment LLC and Mr. Nam Nguyen for your generous donation.
Photo (left to right): Nam Nguyen, Quynn Megan Le, Thinh To, Daniella Romero and David Trius.
<div class="blank-line"></div>
<div class="blank-line"></div>

<%= link_to "#{image_tag("2015_anniversary/students-and-teachers.jpg", width: '320', height: '200')}".html_safe, image_path("2015_anniversary/students-and-teachers.jpg") %>
<div class="blank-line"></div>
PIFFE students and teachers
<div class="blank-line"></div>
<div class="blank-line"></div>

<%= link_to "#{image_tag("2015_anniversary/David.jpg", width: '320', height: '200')}".html_safe, image_path("2015_anniversary/David.jpg") %>
<div class="blank-line"></div>
English Instructor, David Trius presented Language Arts curriculum.
<div class="blank-line"></div>
<div class="blank-line"></div>

<%= link_to "#{image_tag("2015_anniversary/Guests_01.jpg", width: '320', height: '200')}".html_safe, image_path("2015_anniversary/Guests_01.jpg") %>
<div class="blank-line"></div>
Guests
<div class="blank-line"></div>
<div class="blank-line"></div>

<%= link_to "#{image_tag("2015_anniversary/team-piffe_02.jpg", width: '240', height: '320')}".html_safe, image_path("2015_anniversary/team-piffe_02.jpg") %>
<div class="blank-line"></div>
Team PIFFE
<div class="blank-line"></div>

