<B>August 12 2015</B>
<H3><I><i class="fa fa-star-o"></i> Star Student of PIFFE Summer 2015 Program</I></H3>

<div class="blank-line"></div>
We are proud to announce the <B>Star Student</B> of the PIFFE Summer 2015 Program, <B>Adam</B>! This recognition is
awarded to Adam for his dedication to uphold the <%= link_to "PIFFE Code of Conduct", coc_path %>, for attending all
tutoring sessions, and for his active participation in class and completion of the most homework assignments.

<div class="blank-line"></div>
<%= image_tag("students/adam_ca.png") %>
Adam, California


<div class="blank-line"></div>
A few comments from our instructors on Adam:
<div class="blank-line"></div>

<blockquote>
“Adam was a great student during this summer's tutoring program. Always

on time to start the sessions and always attentive during the sessions. Adam

readily articulates his thought process and states what he finds confusing or

difficult to comprehend. Additionally, he dedicates time and effort for homework

to reinforce the skills that he has learned.”
</blockquote>

<blockquote>
“Adam has shown an excellent work ethic and commitment to learning which

other students should aspire to. Even when the subject matter proved difficult for

Adam, he never shied away from participating nor waive from a challenge. I am

both proud and very pleased to have Adam as a student.”
</blockquote>
