<B>August 26 2015</B>
<H3><I>Team PIFFE Update</I></H3>

We are very excited for the Fall Semester to start. Meet three of our new tutors, Kiet, Shakir and Christian.
<br><br>
Kiet will be joining us as a math tutor this semester. "I like math, and it is one of my favorite subjects throughout high school and college. That is why I pursued an engineering degree. I received a Bachelor of Science (B.S.) degree in Electrical Engineering from Texas A&M. I want to join Pay It Forward For Education because I see how the program has helped my two sons, Spencer and Alec, progress from the lessons and tutoring that they received from their volunteer teachers. I look forward to helping the students expand their knowledge and showing them how Math can be used in their daily lives."
<br><br>
Shakir will be joining our language arts team. "I am a native of New York City. I graduated from the City College of NY with a Bachelors degree in Biology and Masters degree in Neuroscience. I am currently attending New Jersey Medical School pursuing my lifelong dream of becoming a physician. Since High School, I have been dedicated to helping underprivileged youth in achieving academic success through mentoring and tutoring. Having grown up in an underprivileged community, I passionately believe that with hard work, dedication and education anything is possible. Outside of academics, I am an avid cyclist who also enjoys traveling to new and exciting places"
<br><br>
Christian will be joining us as a math tutor this semester. " I enjoy math for its complexity and simplicity, and look forward to my students view it the same way. I hold a Bachelor of Science (B.S.) from Baylor and a Masters of Science (M.S.) from Tulane."
<br><br>
WELCOME TO TEAM PIFFE! We are happy to have you!
<br><br>
To learn more about Kiet, Shakir, Christian, and the rest of PIFFE team members, please visit our <%= link_to "team", team_url %> page.
