<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Comment from <%= @contact_us.from_name %></h1>
<p>
  Subject: <%= @contact_us.subject %>
</p>
<p>
  Email: <%= @contact_us.from_email %>
</p>
<p>
  Comment: <%= @contact_us.message %><br>
</p>

</body>
</html>