<span class="instructor-anchor" id="alyssa-uyen-nguyen"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/alyssa-uyen_nguyen.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Alyssa-uyen Nguyen
      </H4>
      <div>
        College Student
      </div>
      <br><br>
      One of the greatest joys I have found in my life is helping others when they are unable to help themselves. I’ve always enjoyed teaching and mentoring because I want my students to be as passionate about learning as I am. I don’t want them to achieve the bare minimum. I want to encourage them to take on challenges and reach goals that they are too afraid to reach. As a student myself, I’m still trying to do the same by furthering my education at the University of Houston. I will be a Sophomore Biotech major and minoring in medicine and society. Some of my passions include photography, writing, painting, eating, and the occasional Netflix.     </div>
  </div>
</div>
