<span class="instructor-anchor" id="daniella-romero"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/daniella_romero.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Daniella Romero
      </H4>
      <div>
        ESL Teacher
      </div>
      <br><br>
      I have always had a passion for education and truly believe it is the best investment you can make on yourself and others. I have a Bachelor Degree in Political Science and International Relations with minors in French, Spanish and PR Journalism. I have a Masters Degree in International Affairs and enjoy traveling and learning about other cultures. I have been teaching English as a Second Language and tutoring students of various levels and ages for several years and it has been a very rewarding experience. I enjoy meeting and working with people with different backgrounds and cultures and I look forward to helping all my students reach their full potential.    </div>
  </div>
</div>