<span class="instructor-anchor" id="otto-leung"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/megan_pham.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Megan Pham
      </H4>
      <div>
        College Student
      </div>
      <br><br>
      I have always had a deep love for the math and sciences, as well as helping others. These are two of the many factors that influenced me to pursue medicine. I am currently a pre-medical student at the University of Houston studying Biomedical Sciences with a minor in Medicine & Society. In my free time, I enjoy dancing modern and contemporary styles, playing the piano, and exploring new restaurants and cafés in the Houston area. I am so excited to be a member of the PIFFE team and look forward to helping my students tackle new challenges.
    </div>
  </div>
</div>