<span class="instructor-anchor" id="otto-leung"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/otto_leung.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Otto Leung
      </H4>
      <div>
        Software Engineering Manager
      </div>
      <br><br>
      Math is one of my favorite subjects.  I hold a Bachelor of Arts (B.A) degree in Mathematics, Bachelor of Science (B.S.) in Computer Science, a Masters degree in Computer Science, and an MBA degree.
      Besides my professional, I enjoy gaming, anime, and brain teasers.  I am excited to be part of this effort, and I look forward to meeting you in my sessions.
    </div>
  </div>
</div>