<span class="instructor-anchor" id="quynn-le"></span>
<div class="well instructor-well" >
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/quynn_le.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Quynn Megan Le
      </H4>
      <div>
        Sr. Engineering Program Manager
      </div>
      <br><br>
      I have a deep appreciation for education because I grew up in a country where education was a privilege, not a right. I started tutoring Math in high school and continued that journey throughout my college years.  I pursued a Bachelor of Arts (B.A) degree in Mathematics because Math has always been my favorite subject.  Even with my busy travel schedule for work, I can continue tutoring students through Pay It Forward For Education since the program does not have any geography constraints on tutors and students.  My fellow volunteers are not co-located, and our students live in different states.  Beside working and caring for my family, I enjoy musicals, reading, traveling and photography.
    </div>
  </div>
</div>