<span class="instructor-anchor" id="regina-schekall"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/no_picture.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Regina Schekall
      </H4>
      <br><br>
      One of my "favorite things" is a page full of Mathematics problems to solve.  There is nothing quite as exciting as the journey from "I don't know the answer" to "I know the answer and what a fun problem!"  I enjoy working Mathematics problems and I can't wait to share my enthusiasm and techniques with someone who is still in the "I don't know the answer" part of their journey.
      <br><br>
      I have a B.A. in Mathematics from San Jose State University because I love taking Mathematics classes.  I also love teaching Mathematics classes and I was accepted into the SJSU Teaching Program and got to teach Geometry at a local High School.  I was offered a job at Lockheed Missiles and Space in the Algorithm Department and so I got a taste of how Mathematics can be applied to real life situations.
      <br><br>
      I have 3 children all with special education needs.  My two oldest are twins who were admitted into the Gifted And Talented Education learning program (G.A.T.E.) since they were ahead of their peers in every subject and needed extra problems and courses.  My youngest was born with Down Syndrome and needs a special learning program since he is behind his peers.  Having children at both ends of the educational spectrum has provided me with experience and insights to help students at ANY level.
    </div>
  </div>
</div>