<span class="instructor-anchor" id="scott-daniel"></span>
<div class="well instructor-well" >
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/scott_daniel.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Scott Daniel
      </H4>
      <div>
        Computer Scientist
      </div>
      <br><br>
      I am a California native, born and raised near the Sacramento area. I finished my undergraduate work at California Polytechnic State University, majoring in Computer Science. I then continued to graduate school to earn a Master’s Degree in Computer Science from Brown University. Now a Bay Area resident, I work at Adobe building software for photographers. Outside of work, I like to ride bikes, dance salsa, and play guitar.
    </div>
  </div>
</div>