<span class="instructor-anchor" id="shakir-saud"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/shakir_saud.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Shakir Saud
      </H4>
      <div>

      </div>
      <br><br>
      I am a native of New York City. I graduated from the City College of NY with a Bachelors degree in Biology and Masters degree in Neuroscience. I am currently attending New Jersey Medical School pursuing my lifelong dream of becoming a physician. Since High School, I have been dedicated to helping underprivileged youth in achieving academic success through mentoring and tutoring. Having grown up in an underprivileged community, I passionately believe that with hard work, dedication and education anything is possible. Outside of academics, I am an avid cyclist who also enjoys traveling to new and exciting places.
    </div>
  </div>
</div>