<span class="instructor-anchor" id="shruthi-venkatesan"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/shruthi _venkatesan.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Shruthi Venkatesan
      </H4>
      <div>
        Software Engineer
      </div>
      <br><br>
      Born and raised in India, I did my Bachelors in Computer Science from College of Engineering Guindy. After working for a couple of years in India, I went to grad school at University of Wisconsin-Madison to get my Masters in CS. I recently moved to the Bay Area, where I am working as a Software Engineer at Oracle. "In teaching, we learn and in learning we teach." The sheer joy of teaching and slipping into a teacher's shoes urges me be a part of PIFFE, interact with students, teach them, learn with them and learn from them. I am super excited to kick start my first online teaching experience.
    </div>
  </div>
</div>
