<span class="instructor-anchor" id="thinh-to"></span>
<div class="well instructor-well">
  <div class="media" >
    <div class="media-left">
      <%= image_tag("staff/thinh_to.jpg",  class: "logo-style") %>
    </div>
    <div class="media-body">
      <H4 class="media-heading">
        Thinh To
      </H4>
      <div>
        Developer Programs Engineer
      </div>
      <br><br>
      I am passionate about learning and discovering new things, especially in the subjects of Math and Engineering. I hold a Bachelor of Science (B.S.) degree in Computer Engineering / Electrical Engineering and a Masters degree in Software Engineering.
      Math is full of ideas you have yet to learn, challenges you have yet to overcome, and so much puzzles waiting for you to solve. Let's discover all there is to know about Math together! I look forward to meeting you all in my tutoring sessions.
    </div>
  </div>
</div>