<div id="schedulePanel" class="panel panel-default my-lang-panel">
  <div class="panel-heading" role="tab" id="heading6thGradeLang">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse6thGradeLang" aria-expanded="true" aria-controls="collapse6thGradeLang">
        6<sup>th</sup> / 7<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse6thGradeLang" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6thGradeLang">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Alyssa Nguyen", team_path  + '#alyssa-uyen-nguyen') %></H4></div>
      <div><H5>Day: Monday</H5></div>
      <div><H5 class="g6l-local-start-time">Time</H5></div>
      <div><H5 class="g6l-local-end-time">Time</H5></div>

      <div class="well col-md-12 ">
        <div><H3>Description</H3></div>
        <br>
        <div>
          Our 6th and 7th Grade class will emphasize reading comprehension and critical thinking

          skills. In the first semester of the school year students will read the novel The Lighting Thief

          while taking an in depth look into fiction and literary analysis. Classes will be divided into two

          parts with the first focusing on a new aspect of fictional writing (tone, style, theme, figurative

          language, etc…) and the second concentrating on group discussion of
          <%= link_to("The Lighting Thief", 'http://www.amazon.com/Lightning-Thief-Percy-Jackson-Olympians/dp/0786838655/ref=sr_1_1?ie=UTF8&qid=1440810075&sr=8-1&keywords=the+lightning+thief&pebp=1440810084986&perid=15SHCNHNYG377BWQ300Y', :target => "_blank") %>.

          Homework will consist of readings and analytic reflections.
        </div>
      </div>
    </div>
  </div>

  <script>
      $(function(){
          $('.g6l-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.g6l-local-end-time').text("End time: " + utcToLocal('01:15z'));
      })
  </script>

</div>
