<div id="schedulePanel" class="panel panel-default my-lang-panel">
  <div class="panel-heading" role="tab" id="heading3rdGradeLang">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse3rdGradeLang" aria-expanded="true" aria-controls="collapse3rdGradeLang">
        3<sup>rd</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse3rdGradeLang" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3rdGradeLang">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Quynn Le", team_path + '@quynn-le') %></H4></div>
      <div><H5>Day: Monday</H5></div>
      <div><H5 class="g3l-local-start-time">Time</H5></div>
      <div><H5 class="g3l-local-end-time">Time</H5></div>

      <div class="well col-md-12 ">
        <div><H4>Description</H4></div>
        <br>
        <div>
          Our 3rd grade class will focus on reading skills and reading comprehension. Our students

          will work with their instructor on expanding their vocabulary, advancing their reading level,

          content retention, and oral skills through in class discussions. Students and families will be

          provided with a reading list of required materials.
        </div>
      </div>

    </div>
  </div>

  <script>
      $(function(){
          $('.g3l-local-start-time').text("Start time: " + utcToLocal('12:30z'));
          $('.g3l-local-end-time').text("End time: " + utcToLocal('01:00z'));
      })
  </script>
</div>
