<div id="schedulePanel" class="panel panel-default my-lang-panel">
  <div class="panel-heading" role="tab" id="heading8thGradeLang">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse8thGradeLang" aria-expanded="true" aria-controls="collapse8thGradeLang">
        8<sup>th</sup> / 9<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse8thGradeLang" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8thGradeLang">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("David Trius", team_path  + '#david-trius') %></H4></div>
      <div><H5>Day: Tuesday</H5></div>
      <div><H5 class="g8l-local-start-time">Time</H5></div>
      <div><H5 class="g8l-local-end-time">Time</H5></div>

      <div class="well col-md-12 ">
        <div><H4>Description</H4></div>
        <br>
        <div>
          Our 8th and 9th grade course will be an in depth focus on writing and literature analysis.

          The first fifteen weeks of instruction will concentrate entirely on the completion of one 500-750

          word research paper on an academic topic of their choice (roughly 1.5-2 pages double spaced).

          Students will review all aspects of the writing process starting with the initial brainstorming all

          the way to revising and editing. Once the paper has been completed students will move on to

          literary analysis where we will cover the book <%= link_to("The Little Prince", 'http://www.amazon.com/Little-Prince-Antoine-Saint-Exup%C3%A9ry/dp/0156012197/ref=sr_1_1?ie=UTF8&qid=1440810152&sr=8-1&keywords=the+little+prince&pebp=1440810161957&perid=0RQ216WA9NYVY0QJFGC4', :target => "_blank") %> by Antoine de Saint-Exupéry.
        </div>
      </div>

    </div>
  </div>

  <script>
      $(function(){
          $('.g8l-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.g8l-local-end-time').text("End time: " + utcToLocal('01:15z'));
      })
  </script>

</div>
