<div id="schedulePanel" class="panel panel-default my-lang-panel">
  <div class="panel-heading" role="tab" id="heading4thGradeLang">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse4thGradeLang" aria-expanded="true" aria-controls="collapse4thGradeLang">
        4<sup>th</sup> / 5<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse4thGradeLang" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4thGradeLang">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Daniella Romero", team_path + '#daniella-romero') %></H4></div>
      <div><H5>Day: Monday</H5></div>
      <div><H5 class="g4l-local-start-time">Time</H5></div>
      <div><H5 class="g4l-local-end-time">Time</H5></div>

      <div class="well col-md-12 ">
        <div><H4>Description</H4></div>
        <br>
        <div>
          The focus of 4th and 5th grade will be on both grammar and reading comprehension. Each

          week will alternate between the two areas of language arts (i.e. one week will concentrate on a

          piece of literature the following week on a part of speech). The reading comprehension portion

          will not only be used to advance students reading skills, but also to review and reinforce the

          grammar lessons. All of the readings can be found in the collection of short
          stories: <%= link_to("I Write Short Stories by Kids for Kids", 'http://www.amazon.com/Write-Short-Stories-Kids/dp/0985470542/ref=sr_1_1?ie=UTF8&qid=1439831926&sr=8-1&keywords=I+write+short+stories', :target => "_blank") %>.
        </div>
      </div>

    </div>
  </div>

  <script>
      $(function(){
          $('.g4l-local-start-time').text("Start time: " + utcToLocal('00:00z'));
          $('.g4l-local-end-time').text("End time: " + utcToLocal('00:45z'));
      })
  </script>

</div>
