<B>July 03, 2017</B>
<H3><I>Summer 2017 Updates and Sneak Peeks</I></H3>

Dear Parents and Students,
<div class="blank-line"></div>
We hope you're having a fantastic Summer! Our team at PIFFE kicked off the Summer with a weekend workshop to plan out the schedule for the Fall 2017 semester. This is PIFFE's 4th year running, and we are very excited and energized to continue moving forward with the program!
<div class="blank-line"></div>
We want to thank you for all of the support that you've given to the organization thus far. Our goal for this year is to raise $15,000. This will allow us to rent an office space, cover legal fees, teaching licenses and continue to build out more features for the website. We would greatly appreciate any amount you could contribute to keep the program going. You can mail your donation to:
<div class="blank-line"></div>
Pay It Forward For Education
<br>
12320 Barker Cypress Ste.600 #177
<br>
Cypress, TX 77429
<div class="blank-line"></div>
Here's a sneak peek of what we have in store for the coming school year.
<div class="blank-line"></div>
English:
<br>
We're excited to share that we'll be bringing back the Writing class for 5th grade. Multiple sessions may be offered to accommodate students across the country in different time zones.
<div class="blank-line"></div>
Math:
<br>
In addition to the existing Math classes, we will be offering a new Geometry class.
<div class="blank-line"></div>
Test Prep:
<br>
We are thrilled to share that we will be offering an SAT prep class for high school students!
<div class="blank-line"></div>
