<B>July 02, 2017</B>
<H3><I>PIFFE Team Offsite Meeting - Summer 2017</I></H3>

Our team members met in San Francisco to plan for the 2017-2018 school year. Wait until you hear what we have planned for our students.
<div class="blank-line"></div>
<%= link_to "#{image_tag("2017_offsite/offsite01.jpg", width: '700', height: '400')}".html_safe, image_path("2017_offsite/offsite01.jpg") %>
<div class="blank-line"></div>
<div class="blank-line"></div>
<%= link_to "#{image_tag("2017_offsite/offsite02.jpg", width: '700', height: '400')}".html_safe, image_path("2017_offsite/offsite02.jpg") %>
<div class="blank-line"></div>
<%= link_to "#{image_tag("2017_offsite/offsite03.jpg", width: '700', height: '400')}".html_safe, image_path("2017_offsite/offsite03.jpg") %>
<div class="blank-line"></div>
<%= link_to "#{image_tag("2017_offsite/offsite04.jpg", width: '700', height: '400')}".html_safe, image_path("2017_offsite/offsite04.jpg") %>
