<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>

        <%= f.label :last_name%>
        <%= f.text_field :last_name, class: 'form-control'%>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.select :school_id, options_for_select(@school_options), {include_blank: 'Other', prompt: 'Select your school...'} %>

        <div id="school-form" class="hidden">
          <%= label_tag 'School Name' %>
          <%= text_field_tag 'school[name]' %>

          <%= label_tag 'City' %>
          <%= text_field_tag 'school[city]' %>

          <%= label_tag 'State' %>
          <%= select_tag(:school_state,  options_for_select(state_abbreviations)) %>


          <%= label_tag 'Zipcode' %>
          <%= text_field_tag 'school[zipcode]' %>
        </div>
        <%= f.submit "Create my account now", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>