<% provide(:title, @user.first_name.titleize) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= "#{@user.first_name.titleize} #{@user.last_name.titleize}" %>
        <div id="school">
          <% if !@school.nil? %>
              <%= "(#{@school.name.titleize})" %>
          <% end %>
        </div>
      </h1>
    </section>
  </aside>
</div>
