<% provide(:title, "Contact") %>


<H1><i class="fa fa-envelope-o"></i> Contact Us</H1>
<div class="row", id="contact-us">
  <div class="col-md-6 col-md-offset-1">

  <%= form_for(@contact_us, :url => contact_path) do |f| %>
    <div class="input-group">
      <%= f.text_field :from_name, :class => "form-control", :size => "100%", :placeholder => "Name" %>
    </div>
    <div class="input-group">
      <%= f.text_field :from_email, :class => "form-control", :size => "100%", :placeholder => "Email" %>
    </div>
     <div class="input-group">
        <%= f.text_field :subject, :class => "form-control", :size => "100%", :placeholder => "Subject" %>
    </div>
    <div class="input-group">
        <%= f.text_area :message, :class => "form-control", :placeholder => "Comment", :rows => "10", :cols => "110" %>
    </div>
    <div>
      <%= submit_tag("send", class: "btn btn-primary" ) %>
    </div>
  <% end %>

  </div>

  <div class="col-md-4">
    <div id="contact-us-headquarters" class="well contact-us-well" >
      <H2>Headquarters</H2>
      <div class="company">Pay It Forward For Education</div>
      <p></p>
      12320 Barker Cypress Ste.600 #177<br>
      Cypress, TX 77429<br>
      USA<P></P>
      Email: administrator@payitforward4edu.com<p></p>
    </div>
  </div>

<!--
  <div class="col-md-3 col-md-offset-1">
    <div class="well" id="contact-us-headquarters">
      <H2>Headquarters</H2>
      <div class="company">Pay It Forward For Education</div>
      <p></p>
      12320 Barker Cypress Ste.600 #177<br>
      Cypress, TX 77429<br>
      Email: administrator@payitforward4edu.com<p></p>
    </div>
  </div>
-->
  </div>