<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Please add the school and associate it to the user
<p></p>
<table>
  <tbody>
  <tr><td>Username</td><td><%= @add_school.username %></td></tr>
  <tr><td>User ID</td><td><%= @add_school.user_id %></td></tr>
  <tr><td>School Name</td><td><%= @add_school.name %></td></tr>
  <tr><td>School City</td><td><%= @add_school.city %></td></tr>
  <tr><td>School State</td><td><%= @add_school.state %></td></tr>
  <tr><td>School Zipcode</td><td><%= @add_school.zipcode %></td></tr>
  </tbody>
</table>


</body>
</html>