Please add the school and associate it to the user
===============================================

Username: <%= @add_school.username %>

User ID: <%= @add_school.user_id %>

School Name: <%= @add_school.name %>

School City: <%= @add_school.city %>

School State: <%= @add_school.state %>

School Zipcode: <%= @add_school.zipcode %>
