<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading9thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse10thGradeMath" aria-expanded="true" aria-controls="collapse10thGradeMath">
        10<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse10thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Alyssa Nguyen", team_path + '#Alyssa-uyen-nguyen') %></H4></div>
      <div><H5>Section: 1</H5></div>
      <div><H5>Day: Tuesday</H5></div>
      <div><H5 class="g10ms1-local-start-time">Time</H5></div>
      <div><H5 class="g10ms1-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.g10ms1-local-start-time').text("Start time: " + utcToLocal('00:30z'));
          $('.g10ms1-local-end-time').text("End time: " + utcToLocal('01:15z'));
      })
  </script>

</div>
