<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading9thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse11thGradeMath" aria-expanded="true" aria-controls="collapse11thGradeMath">
        11<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse11thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Scott Daniel", team_path + '#scott-daniel') %></H4></div>
      <div><H5>Section: 1</H5></div>
      <div><H5>Day: Monday</H5></div>
      <div><H5 class="g11ms1-local-start-time">Time</H5></div>
      <div><H5 class="g11ms1-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.g11ms1-local-start-time').text("Start time: " + utcToLocal('00:00z'));
          $('.g11ms1-local-end-time').text("End time: " + utcToLocal('00:45z'));
      })
  </script>

</div>
