<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading9thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse12thGradeMath" aria-expanded="true" aria-controls="collapse12thGradeMath">
        12<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse12thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Shakir Saud", team_path + '#shakir-saud') %></H4></div>
      <div><H5>Section: 1</H5></div>
      <div><H5>Day: Wednesday</H5></div>
      <div><H5 class="g12ms1-local-start-time">Time</H5></div>
      <div><H5 class="g12ms1-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.g12ms1-local-start-time').text("Start time: " + utcToLocal('01:00z'));
          $('.g12ms1-local-end-time').text("End time: " + utcToLocal('01:45z'));
      })
  </script>

</div>
