<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading9thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse9thGradeMath" aria-expanded="true" aria-controls="collapse9thGradeMath">
        9<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse9thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Megan Pham", team_path + '#megan-pham') %></H4></div>
      <div><H5>Section: 1</H5></div>
      <div><H5>Day: Wednesday</H5></div>
      <div><H5 class="g9ms1-local-start-time">Time</H5></div>
      <div><H5 class="g9ms1-local-end-time">Time</H5></div>

    </div>
  </div>
  <script>
      $(function(){
          $('.g9ms1-local-start-time').text("Start time: " + utcToLocal('23:30z'));
          $('.g9ms1-local-end-time').text("End time: " + utcToLocal('00:15z'));
      })
  </script>

</div>
