<div id="schedulePanel" class="panel panel-default my-math-panel">
  <div class="panel-heading" role="tab" id="heading5thGradeMath">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse5thGradeMath" aria-expanded="true" aria-controls="collapse5thGradeMath">
        5<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse5thGradeMath" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5thGradeMath">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("Shruthi Venkatesan", team_path + '#shruthi-venkatesan') %></H4></div>
      <div><H5>Section: 1</H5></div>
      <div><H5>Day: Wednesday</H5></div>
      <div><H5 class="g5ms1-local-start-time">Time</H5></div>
      <div><H5 class="g5ms1-local-end-time">Time</H5></div>
    </div>
  </div>

  <script>
      $(function(){
          $('.g5ms1-local-start-time').text("Start time: " + utcToLocal('02:45z'));
          $('.g5ms1-local-end-time').text("End time: " + utcToLocal('03:15z'));
      })
  </script>

</div>
