<B>November 11, 2015</B>
<H3><I>Important Dates</I></H3>
<br>
Fall 2015 semester will end on the week of December 18<sup>th</sup>.
<br>
Spring semester will start on Monday, January 4<sup>th</sup>, 2016.
<br><br>
We will not have classes on the following weeks:
<br>
<ul>
  <li>November 23<sup>rd</sup>, 2015
  </li>
  <li>December 21<sup>th</sup>, 2015
  </li>
  <li>December 28<sup>th</sup>, 2015</li>
</ul>

