<div id="schedulePanel" class="panel panel-default my-lang-panel">
  <div class="panel-heading" role="tab" id="heading6thGradeLang">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse6thGradeLang" aria-expanded="true" aria-controls="collapse6thGradeLang">
        6<sup>th</sup> / 7<sup>th</sup> / 8<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse6thGradeLang" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6thGradeLang">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("David Trius", team_path  + '#david-trius') %></H4></div>
      <div><H5>Day: Monday - Thursday</H5></div>
      <div><H5>Time: 5:30pm PST</H5></div>
      <div><h5>Download the <%= link_to("Student Agreement", "/downloads/student_agreement.pdf", :target => "_blank") %></h5></div>
      <div class="well col-md-5 ">
        <div><H3>Intermediate Writing</H3></div>
        <br>
        <div>
          This class will focus on writing skills for the middle school level. Each week will emphasize a different aspect of writing ending with a written assignment. Topics will include how to properly summarize, research, write a persuasive essay, figurative language, and analyzing poetry/literature. Certain topics will go hand in hand with one another so it is highly encouraged that students attend both weeks. These topics include research/writing a persuasive essay and figurative language/poetry.
        </div>
      </div>
      <table id="lang" class="col-md-4 col-md-offset-1">
        <thead>
        <tr>
          <th id="scheduleWeek">Meeting</th>
          <th id="scheduleDate">Dates</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>6/15 - 6/18</td>
        </tr>
        <tr>
          <td>2</td>
          <td>6/22 - 6/25</td>
        </tr>
        <tr>
          <td>3</td>
          <td>7/6 - 7/9</td>
        </tr>
        <tr>
          <td>4</td>
          <td>7/13 - 7/16</td>
        </tr>
        <tr>
          <td>5</td>
          <td>7/20 - 7/23</td>
        </tr>
       </tbody>
      </table>
    </div>
  </div>
</div>
