<div id="schedulePanel" class="panel panel-default my-lang-panel">
  <div class="panel-heading" role="tab" id="heading3rdGradeLang">
    <h4 class="panel-title">
      <a data-toggle="collapse"  href="#collapse3rdGradeLang" aria-expanded="true" aria-controls="collapse3rdGradeLang">
        3<sup>rd</sup> / 4<sup>th</sup> / 5<sup>th</sup> Grade <i class="fa fa-plus-circle"></i>
      </a>
    </h4>
  </div>
  <div id="collapse3rdGradeLang" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3rdGradeLang">
    <div class="panel-body">
      <div><H4>Instructor: <%= link_to("David Trius", team_path + '#david-trius') %></H4></div>
      <div><H5>Day: Monday - Thursday</H5></div>
      <div><H5>Time: 6:35pm PST</H5></div>
      <div><h5>Download the <%= link_to("Student Agreement", "/downloads/student_agreement.pdf", :target => "_blank") %></h5></div>
      <div class="well col-md-5 ">
        <div><H3>Basic Grammar</H3></div>
        <br>
        <div>
          This class will focus on basic grammar and writing skills. We will begin with the fundamentals of sentence structure found in the the relationship between the subject and predicate.These fundamentals will be followed by lessons going over the various parts of speech and punctuation. The final week will be a recap of what we have learned with a focus on writing sentences. It is highly encouraged that students attend the full five weeks as each week will build on the next.
        </div>
      </div>
      <table id="lang" class="col-md-4 col-md-offset-1">
        <thead>
        <tr>
          <th id="scheduleWeek">Meeting</th>
          <th id="scheduleDate">Dates</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>6/15 - 6/18</td>
        </tr>
        <tr>
          <td>2</td>
          <td>6/22 - 6/25</td>
        </tr>
        <tr>
          <td>3</td>
          <td>7/6 - 7/9</td>
        </tr>
        <tr>
          <td>4</td>
          <td>7/13 - 7/16</td>
        </tr>
        <tr>
          <td>5</td>
          <td>7/20 - 7/23</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
