<B>July 06, 2016</B>
<H3><I>PIFFE 2nd Anniversary Event Update</I></H3>

Team PIFFE is excited to invite you to join us celebrating our 2nd anniversary. There, you will meet our team members
and hear about our Math curriculum for this coming school year 2016 - 2017.
<br><br>
On: Saturday, July 30th, 2016
<br>
From: 3pm - 5pm
<br>
At: Loft Bar and Bistro - 90 S Second St, San Jose, CA 95113
<br>
Ticket: $50/person
<br>
RSVP: Paypal - donation@payitforward4edu.com
<br>
Email: quynn@payitforward4edu.com if you have any questions.
<br><br>
We hope to see you at the event.
