#about {
  font-family: nimbus-sans-tw01con, sans-serif;

  .title {
    font-weight:bold;
    font-size: 24px;
    color: rgb(101, 183, 188);
  }

  .description {
    text-indent: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  ul {
    padding-left: 15px;
    text-indent: 0px;
    li {
      text-indent: 0px;
    }
  }

}