#amazon {
  font-family: nimbus-sans-tw01con, sans-serif;

  .amazon-color {
    color: #DD7700;
  }
  ;
  .fb-color {
    color: #3b5998
  }

  .content {
    text-indent: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }


}