@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */

div#contact-us {
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }

  input {
    height: auto !important;
  }

}

div#contact-us-headquarters {


  H2 {
    color: black;
    font-weight: bold;
  }

  .company {
    font-weight: bold;
    font-size: 16px;
  }

}


div#contact-us-headquarters.contact-us-well {
  background-color: white;
}
