
@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-medium: #9d9d9d;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: lightcyan;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar {
  height: 55px;
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  width: 30%;
  height: auto;
  white-space: nowrap;
}

.no-overflow {
  position:absolute;
  display: block;
  white-space: nowrap;
  overflow: visible;
}


.subtitle {
  background-color:darkorange;
  text-align: center;
  font-size: 1.7em;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  margin-top:-5px;
  font-family: nimbus-sans-tw01con, sans-serif;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 9px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-medium;
  background-color:black;

  a {
    color: $gray-medium;

    &:hover {
      color: white;
      text-decoration: none;
    }

  }

  small {
    float: left;

    &:hover {
      color:white;
    }

  }

  ul {
    float: right;
    list-style: none;


    li {
      float: left;
      margin-left: 15px;
    }
  }

}

.news-well {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;

  H2 {
    font-size: 28px;
    color: mediumvioletred;
  }
}

.blank-line {
  padding-top: 20px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


// hamburger menu
/*----- Toggle Button -----*/
.toggle-nav {
  display:none;
  float:right;
}

/*----- Menu -----*/
@media screen and (min-width: 1220px) {
  .menu {
    width:70%;
//    padding:10px 18px;
//    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
//    background:#303030;
    float:right;
  }
}

.menu ul {
  display:inline-block;
}

.menu li {
  margin:0px 15px 0px 0px;
  float:right;
  list-style:none;
  font-size:17px;
}

.menu li:last-child {
  margin-right:0px;
}

.menu a {
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  color:white;
  transition:color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
  text-decoration:none;
  color:white;
}



/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width:90%;
  }
}



@media screen and (max-width: 1220px) {
  .menu {
    position:relative;
    display:inline-block;
    float:right;
  }

  .menu ul.active {
    display:none;
  }

  .menu ul {
    width:280%;
    position:absolute;
    top:60px;
    left:-90px;
    padding:10px 18px;
    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
    background:#303030;
  }

  .menu ul:after {
    width:0px;
    height:0px;
    position:absolute;
    top:0%;
    left:127px;
    content:'';
    transform:translate(0%, -100%);
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #303030;
  }

  .menu li {
    margin:5px 0px 5px 0px;
    float:none;
    display:block;
  }

  .menu a {
    display:block;
  }

  .toggle-nav {
    padding:20px;
    float:right;
    display:inline-block;
//    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
//    background:#303030;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:white;
    font-size:20px;
    transition:color linear 0.15s;
  }

  .toggle-nav:hover, .toggle-nav.active, .toggle-nav:focus {
    text-decoration:none;
    color:white;

  }

}