#volunteer {
  font-family: nimbus-sans-tw01con, sans-serif;

  .title {
    font-weight:bold;
    font-size: 24px;
    color: rgb(101, 183, 188);
  }

  .description {
    text-indent: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  ul {
    padding-left: 15px;
    text-indent: 0px;
    li {
      text-indent: 0px;
    }
  }

  #image-row {
    text-align: center;
  }
  #image-row > div {
    width: 15px; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
    margin-left: 30px;

    /* IE fix. */
    *display: inline;
    zoom: 1;
  }
  #image-row:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}