#faqs {
  font-family: nimbus-sans-tw01con, sans-serif;

  .question {
    font-size: 18px;
    font-weight:bold;
  }

  .answer {
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

}