#home {
  .blank-line {
    padding-top: 20px;
  }

  .logo-style {
    padding-right: 15px;
    padding-bottom: 15px;
    float: left;
  }
  
}

div#home-announcement.media {

  .media-heading {
    font-family: nimbus-sans-tw01con, sans-serif;
    font-size: 24px;
    vertical-align: baseline;
    word-wrap: break-word;
    display: inline;
    font-weight: bold;
    color: mediumvioletred;
  }

  .announcement-text {
    font-family: nimbus-sans-tw01con, sans-serif;
    font-size: 18px;
    vertical-align: baseline;
    word-wrap: break-word;
    display: inline;
    line-height: 25px;
  }


}

.slogan {
  font: normal normal normal 27px/1.4em nimbus-sans-tw01con,sans-serif;
  font-size: 36px;

  .slogan-1 {
    color: #173A73;
  }

  .slogan-2 {
    color: #ED1C24;
  }

  .slogan-3 {
    color: #3B898E;
  }
}


div#important-note {
  .important-note-heading {
    font-size: 18px;
    font-weight: bold;
  }

  .important-note-text {
    font-size: 14px;
  }
}