

/*
div#schedule-courses {
  /*  SECTIONS
  .section {
    clear: both;
    padding: 0px;
    margin: 0px;
  }

  /*  COLUMN SETUP
  .col {
    display: block;
    float:left;
    margin: 1% 0 1% 3%;
    border: 1px solid;
  }
  .col:first-child { margin-left: 0; }

  /*  GROUPING
  .group:before,
  .group:after { content:""; display:table; }
  .group:after { clear:both;}
  .group { zoom:1; /* For IE 6/7  }
  /*  GRID OF TWO
  .span_2_of_2 {
    width: 100%;
  }
  .span_1_of_2 {
    width: 48.5%;
  }

  /*  GO FULL WIDTH AT LESS THAN 480 PIXELS

  @media only screen and (max-width: 480px) {
    .col {
      margin: 1% 0 1% 0%;
    }
  }

  @media only screen and (max-width: 480px) {
    .span_2_of_2, .span_1_of_2 { width: 100%; }
  }
}
*/

#schedule-tab {
  /* Tab Navigation */
  .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;

    li > a {

        background: #DADADA;
        border-radius: 0;
        box-shadow: inset 0 -8px 7px -9px rgba(0, 0, 0, .4), -2px -2px 5px -2px rgba(0, 0, 0, .4);
    }

    li.active > {
      a, a:hover {
        background: #F5F5F5;
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .4), -2px -3px 5px -2px rgba(0, 0, 0, .4);
      }
    }
  }
}




  /* Tab Content */
  div#schedule-tab-content{
    .tab-pane {
      background: #F5F5F5;
      box-shadow: 0 0 4px rgba(0, 0, 0, .4);
      border-radius: 0;
      padding: 10px;
      margin-bottom: 20px;

    }
  }

/* Panel in tab content */
span.schedule-session {
  font-weight: bold;
  font-size: 20px;

  margin-left: 15px;
}

div#schedulePanel.my-math-panel {
  margin: 0px;

  .panel-heading {
    background: #F6C593;
  }
}

div#schedulePanel.my-lang-panel {
  margin: 0px;

  .panel-heading {
    background: #F6C593;
  }
}

div#schedulePanel {
  h4.panel-title {
    float: none;
    text-align: center;
  }

  table {
    border: 1px solid #dddddd;
    table-layout: fixed;
    tr {
      border: 1px solid #dddddd;
      font-size: 16px;
    }
    th#scheduleWeek {
      width: 10%;
    }
    th#scheduleDate {
      width: 15%;
    }

    th#scheduleTopic {
      width: 70%;
    }

  }

  table#lang {
    border: 1px solid #dddddd;
    table-layout: fixed;
    tr {
      border: 1px solid #dddddd;
      font-size: 16px;
    }
    th#scheduleWeek {
      width: 50%;
    }
    th#scheduleDate {
      width: 50%;
    }
  }
}
