// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.announcement-text {
  font-family: nimbus-sans-tw01con, sans-serif;
  font-size: 18px;
  vertical-align: baseline;
  word-wrap: break-word;
  display: inline;
  line-height: 25px;
}