<footer class="footer footer-ext">
  <div class="container footer-container-ext">
    <small>
      © <%= Time.now.year %> PIFFE
      <div class="fb-like" data-href="http://www.payitforward4edu.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </small>
  </div>

</footer>