<header class="navbar navbar-fixed-top navbar-inverse">

  <div class="container">

    <div class="logo no-overflow">
      <%= link_to image_tag("logo_no_text.png", alt: "Pay It Forward For Education", size:"32x32"), root_path %>
      Pay It Forward For Education<span class="header-superscript">TM</span>
    </div>

    <nav class="menu">
      <ul class="active nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Schedule",  schedule_path %></li>
        <li><%= link_to "Meet our team",  team_path %></li>
        <li><%= link_to "Donation", donation_path %></li>
        <li><%= link_to "About Us",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "FAQ", faq_path %></li>

      </ul>

      <a class="toggle-nav" href="#">&#9776;</a>
    </nav>
  </div>

</header>
