<!DOCTYPE html>
<html>
<head>

  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag 'piffe_P_orange_bk_favicon.png', :rel => 'shortcut icon', :type => 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>



<%= render 'layouts/header' %>
<div class="subtitle">
  Stay in the loop!
</div>

<div class="container application-container">
  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</div>

<%= render 'layouts/google_analytics' %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
